name: CI

on:
  push:
    paths-ignore:
      - '**/*.md'
  pull_request:
    paths-ignore:
      - '**/*.md'

# First build on Linux and Windows with JDK 11
# Then run tests with various Gradle and JDK versions (Linux only)
jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Build with Gradle
        id: gradle-build
        uses: gradle/gradle-build-action@v2
        with:
          arguments: --scan build

      - name: Store reports
        if: always() && (steps.gradle-build.outcome == 'success' || steps.gradle-build.outcome == 'failure')
        uses: actions/upload-artifact@v3
        with:
          name: linux-reports
          path: build/reports/

  windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Build with Gradle
        id: gradle-build
        uses: gradle/gradle-build-action@v2
        with:
          arguments: --scan build

      - name: Store reports
        if: always() && (steps.gradle-build.outcome == 'success' || steps.gradle-build.outcome == 'failure')
        uses: actions/upload-artifact@v3
        with:
          name: windows-reports
          path: build/reports/

  test-gradle:
    needs: linux
    runs-on: ubuntu-latest
    strategy:
      matrix:
        gradle: [ '8.1.1', '8.0.2', '7.5.1', '7.4.2', '7.3.3', '7.2', '7.1.1', '7.0.2', '6.9.4', '6.8.3' ]
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Build with Gradle
        id: gradle-build
        uses: gradle/gradle-build-action@v2
        with:
          arguments: --scan test "-Ptest.gradle-version=${{ matrix.gradle }}"

      - name: Store reports
        if: always() && (steps.gradle-build.outcome == 'success' || steps.gradle-build.outcome == 'failure')
        uses: actions/upload-artifact@v3
        with:
          name: gradle-${{ matrix.gradle }}-tests
          path: build/reports/tests/test/

  test-jdk:
    needs: linux
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 8, 17 ]
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: |
            ${{ matrix.java }}
            11

      - name: Setup environment
        run: |
          echo "org.gradle.java.installations.auto-download=false" | tee -a gradle.properties
          echo "org.gradle.java.installations.fromEnv=JAVA_HOME_${{ matrix.java }}_X64" | tee -a gradle.properties

      - name: Build with Gradle
        id: gradle-build
        uses: gradle/gradle-build-action@v2
        with:
          arguments: --scan test "-Ptest.java-toolchain=${{ matrix.java }}"

      - name: Store reports
        if: always() && (steps.gradle-build.outcome == 'success' || steps.gradle-build.outcome == 'failure')
        uses: actions/upload-artifact@v3
        with:
          name: jdk-${{ matrix.java }}-tests
          path: build/reports/tests/test/
