name: CI

on:
  push:
    paths-ignore:
      - '**/*.md'
  pull_request:
    paths-ignore:
      - '**/*.md'

env:
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"

# First build on Linux with JDK 8 and Windows with JDK 11
# Then run tests with various Gradle and JDKs versions (Linux only)
jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup environment
        run: echo "::set-env name=JAVA_HOME::${JAVA_HOME_8_X64}"

      - name: Build with Gradle
        id: gradle-build
        uses: eskatos/gradle-command-action@v1
        with:
          arguments: --scan build
          wrapper-cache-enabled: true
          dependencies-cache-enabled: true
          dependencies-cache-key: '**/*gradle.lockfile'
          dependencies-cache-exact: true

      - name: Store reports
        if: steps.gradle-build.outcome == 'success' || steps.gradle-build.outcome == 'failure'
        uses: actions/upload-artifact@v2
        with:
          name: linux-reports
          path: build/reports/

  windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup environment
        run: echo "::set-env name=JAVA_HOME::${JAVA_HOME_11_X64}"

      - name: Build with Gradle
        id: gradle-build
        uses: eskatos/gradle-command-action@v1
        with:
          arguments: --scan build
          wrapper-cache-enabled: true
          dependencies-cache-enabled: true
          dependencies-cache-key: '**/*gradle.lockfile'
          dependencies-cache-exact: true

      - name: Store reports
        if: steps.gradle-build.outcome == 'success' || steps.gradle-build.outcome == 'failure'
        uses: actions/upload-artifact@v2
        with:
          name: windows-reports
          path: build/reports/

  test-gradle:
    needs: linux
    runs-on: ubuntu-latest
    strategy:
      matrix:
        gradle: [ '6.5.1', '6.4.1', '6.3', '6.2.2', '6.1.1', '6.0.1', '5.6.4', '5.5.1', '5.4.1', '5.3.1', '5.2.1' ]
    steps:
      - uses: actions/checkout@v2

      - name: Cache Gradle test wrapper (${{ matrix.gradle }})
        uses: actions/cache@v1
        with:
          path: ~/.gradle/wrapper/dists/gradle-${{ matrix.gradle }}-bin/
          key: wrapper-${{ matrix.gradle }}

      - name: Setup environment
        run: echo "::set-env name=JAVA_HOME::${JAVA_HOME_8_X64}"

      - name: Build with Gradle
        id: gradle-build
        uses: eskatos/gradle-command-action@v1
        with:
          arguments: --scan test "-Ptest.gradle-version=${{ matrix.gradle }}"
          wrapper-cache-enabled: true
          dependencies-cache-enabled: true
          dependencies-cache-key: '**/*gradle.lockfile'
          dependencies-cache-exact: true

      - name: Store reports
        if: steps.gradle-build.outcome == 'success' || steps.gradle-build.outcome == 'failure'
        uses: actions/upload-artifact@v2
        with:
          name: gradle-${{ matrix.gradle }}-tests
          path: build/reports/tests/test/

  test-jdk:
    needs: linux
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 11, 14 ]
    steps:
      - uses: actions/checkout@v2

      - name: Setup JDK ${{ matrix.java }}
        id: setup-test-java
        if: matrix.java != 11
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}

      - name: Setup JAVA_HOME_${{ matrix.java }}_X64 environment variable
        if: matrix.java != 11
        run: echo "::set-env name=JAVA_HOME_${{ matrix.java }}_X64::${{ steps.setup-test-java.outputs.path }}"

      - name: Setup environment
        id: setup-env
        run: |
          echo "::set-env name=JAVA_HOME::${JAVA_HOME_8_X64}"
          echo "::set-output name=test_java_home::${JAVA_HOME_${{ matrix.java }}_X64}"

      - name: Build with Gradle
        id: gradle-build
        uses: eskatos/gradle-command-action@v1
        with:
          arguments: --scan test "-Ptest.java-home=${{ steps.setup-env.outputs.test_java_home }}"
          wrapper-cache-enabled: true
          dependencies-cache-enabled: true
          dependencies-cache-key: '**/*gradle.lockfile'
          dependencies-cache-exact: true

      - name: Store reports
        if: steps.gradle-build.outcome == 'success' || steps.gradle-build.outcome == 'failure'
        uses: actions/upload-artifact@v2
        with:
          name: jdk-${{ matrix.java }}-tests
          path: build/reports/tests/test/
