name: CI

on:
  push:
    paths-ignore:
      - '**/*.md'
  pull_request:
    paths-ignore:
      - '**/*.md'

env:
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"

# First build on Linux with JDK 8 and Windows with JDK 11
# Then run tests with various Gradle and JDKs versions (Linux only)
jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup environment
        run: echo "JAVA_HOME=${JAVA_HOME_8_X64}" | tee -a $GITHUB_ENV

      - name: Build with Gradle
        id: gradle-build
        uses: eskatos/gradle-command-action@v1
        with:
          arguments: --scan build
          wrapper-cache-enabled: true
          dependencies-cache-enabled: true
          dependencies-cache-key: '**/*gradle.lockfile'
          dependencies-cache-exact: true

      - name: Store reports
        if: always() && (steps.gradle-build.outcome == 'success' || steps.gradle-build.outcome == 'failure')
        uses: actions/upload-artifact@v2
        with:
          name: linux-reports
          path: build/reports/

  windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup environment
        run: echo "JAVA_HOME=${Env:JAVA_HOME_11_X64}" | Tee-Object -FilePath $env:GITHUB_ENV -Append

      - name: Build with Gradle
        id: gradle-build
        uses: eskatos/gradle-command-action@v1
        with:
          arguments: --scan build
          wrapper-cache-enabled: true
          dependencies-cache-enabled: true
          dependencies-cache-key: '**/*gradle.lockfile'
          dependencies-cache-exact: true

      - name: Store reports
        if: always() && (steps.gradle-build.outcome == 'success' || steps.gradle-build.outcome == 'failure')
        uses: actions/upload-artifact@v2
        with:
          name: windows-reports
          path: build/reports/

  test-gradle:
    needs: linux
    runs-on: ubuntu-latest
    strategy:
      matrix:
        gradle: [ '6.7.1', '6.6.1', '6.5.1', '6.4.1', '6.3', '6.2.2', '6.1.1', '6.0.1', '5.6.4', '5.5.1', '5.4.1', '5.3.1', '5.2.1' ]
    steps:
      - uses: actions/checkout@v2

      - name: Cache Gradle test wrapper (${{ matrix.gradle }})
        uses: actions/cache@v1
        with:
          path: ~/.gradle/wrapper/dists/gradle-${{ matrix.gradle }}-bin/
          key: wrapper-${{ matrix.gradle }}

      - name: Setup environment
        run: echo "JAVA_HOME=${JAVA_HOME_8_X64}" | tee -a $GITHUB_ENV

      - name: Build with Gradle
        id: gradle-build
        uses: eskatos/gradle-command-action@v1
        with:
          arguments: --scan test "-Ptest.gradle-version=${{ matrix.gradle }}"
          wrapper-cache-enabled: true
          dependencies-cache-enabled: true
          dependencies-cache-key: '**/*gradle.lockfile'
          dependencies-cache-exact: true

      - name: Store reports
        if: always() && (steps.gradle-build.outcome == 'success' || steps.gradle-build.outcome == 'failure')
        uses: actions/upload-artifact@v2
        with:
          name: gradle-${{ matrix.gradle }}-tests
          path: build/reports/tests/test/

  test-jdk:
    needs: linux
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 11, 15 ]
    steps:
      - uses: actions/checkout@v2

      - name: Setup JDK ${{ matrix.java }}
        id: setup-test-java
        if: matrix.java != 11
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}

      - name: Setup JAVA_HOME_${{ matrix.java }}_X64 environment variable
        if: matrix.java != 11
        run: echo "JAVA_HOME_${{ matrix.java }}_X64=${{ steps.setup-test-java.outputs.path }}" | tee -a $GITHUB_ENV

      - name: Setup environment
        run: |
          echo "JAVA_HOME=${JAVA_HOME_8_X64}" | tee -a $GITHUB_ENV
          echo "org.gradle.java.installations.auto-download=false" | tee -a gradle.properties
          echo "org.gradle.java.installations.fromEnv=JAVA_HOME_${{ matrix.java }}_X64" | tee -a gradle.properties

      - name: Build with Gradle
        id: gradle-build
        uses: eskatos/gradle-command-action@v1
        with:
          arguments: --scan test "-Ptest.java-toolchain=${{ matrix.java }}"
          wrapper-cache-enabled: true
          dependencies-cache-enabled: true
          dependencies-cache-key: '**/*gradle.lockfile'
          dependencies-cache-exact: true

      - name: Store reports
        if: always() && (steps.gradle-build.outcome == 'success' || steps.gradle-build.outcome == 'failure')
        uses: actions/upload-artifact@v2
        with:
          name: jdk-${{ matrix.java }}-tests
          path: build/reports/tests/test/
